<div>
   <div class="info-div">Możliwe Komendy:</div>
   <div class="info-div" style="padding-left:25px">/join &lt;pokój&gt; - zmień pokój. Domyślnie: "Public"</div>
   <div class="info-div" style="padding-left:25px">/color &lt;kolor&gt; - zmień kolor w hex. Próbnik powyżej. </div>
   <div class="info-div" style="padding-left:25px">/name &lt;imię&gt; - zmień imię </div>
   <div class="info-div" style="padding-left:25px">/clear - czyści chat </div>
   <div class="info-div" style="padding-left:25px">/help - pomoc </div>
</div>